src/necsim/Logger.cpp
src/necsim/main.cpp
src/necsim/cmake*
*.DS_Store
.Rproj.user
.Rhistory
lib/cmake-build-debug/CMakeFiles/

lib/\.idea/

src/\.idea/
src/cmake-build*
*.o
*.o-*


\.RData

src/CMakeLists\.txt

*.so

autom4te\.cache/

\.Rhistory

config\.log

config\.status

aclocal\.m4
