*.DS_Store
.Rproj.user
.Rhistory
lib/cmake-build-debug/CMakeFiles/

lib/\.idea/

src/\.idea/
src/cmake-build*
*.o
*.o-*


\.RData

src/CMakeLists\.txt

*.so
src/necsim
autom4te\.cache/

\.Rhistory

config\.log

config\.status

aclocal\.m4
