tests/testthat/output/
config.status
src/necsim/Logger.cpp
src/necsim/main.cpp
src/necsim/cmake*
*.DS_Store
.Rproj.user
.Rhistory
lib/cmake-build-debug/CMakeFiles/
default/
lib/\.idea/
tests/testthat/default/
src/\.idea/
src/cmake-build*
*.o
*.o-*
src/Makevars

\.RData

src/CMakeLists\.txt

*.so
autom4te\.cache/

\.Rhistory

config\.log

config\.status

aclocal\.m4
windows/
output/
*.dll
inst/doc
inst/gdal
inst/proj
